*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a{
    text-decoration: none;
    margin-top: 20px;
}
li{
    list-style: none;
}
.container{
    width: 1220px;
    padding: 0px 20px;
    margin: 0 auto;
}
.card_ul{
    margin-top: 140px;
    width: 210px;
    height: 500px;
    display: flex;   
    margin-left: 70px;
    
}
.container_h2{
    font-family: 'Roboto';
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.container_p{
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    letter-spacing: 1px;
   
}
.card_li_h3{
    font-family: 'Roboto';
    font-size:17px;
    color: white;

}
.card_li{
    padding: 15px;
    background-color: aqua;
    margin: 20px;
    
    
}
.card_li_p{
    color: white;
    font-family: 'Roboto';
    font-size: 14px;
    margin-top: 6px;
}
.card_li_spn{
    display: flex;
    margin-top: 15px;
    color: white;
    align-items: center;
}
.card_li_spn_p{
    margin-top: 20px;
    font-size: 18px;
}
.card_li_spn_p2{
font-size: 48px;
font-family: 'Roboto';
}
.card_li_p{
    color: azure;
    font-family: 'Roboto';
}
.done{
    display: flex;
}

.card_ul .card_li:nth-child(1){
    background-color: #FEC423;
}
.card_ul .card_li:nth-child(2){
    background-color: #56DBE5;
}
.card_ul .card_li:nth-child(3){
    background-color: #56DBE5;
}
.card_ul .card_li:nth-child(4){
    background-color: #56DBE5;
}
/* .card_ul .card_li .card_btn:nth-child(1){
    background-color: #FEC423;
}
.card_li .card_btn:nth-child(2){
    background-color: #56DBE5;
}
.card_li .card_btn:nth-child(3){
    background-color: #56DBE5;
}
.card_li .card_btn:nth-child(4){
    background-color: #56DBE5;  
} */
.end{
    width: 500px;
    height: 50px;
    /* margin-top: 20px; */
    /* background-color: #FEC423; */
    /* border:3px solid white; */
}
.card_li_btn{
    display: inline-block;
    margin: 25px 0 0 0;
    background-color: transparent;
    /* padding: 30px; */
    border: 3px solid white;
    color: beige;
    /* background-color: red; */
    padding: 10px 30px;
}
